<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="laptop-nldnv023\sqlexpress.SIRMA_CARPET.dbo" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-NLDNV023\SQLEXPRESS;integrated security=SSPI;initial catalog=SIRMA_CARPET" />
        <add name="SIRMA_CARPET.Properties.Settings.SIRMA_CARPETConnectionString"
            connectionString="Data Source=ARZU\SQLEXPRESS;Initial Catalog=SIRMA_CARPET;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_SIRMA_CARPET_Connection" connectionString="XpoProvider=MSSqlServer;data source=ARZU\SQLEXPRESS;integrated security=SSPI;initial catalog=SIRMA_CARPET" />
        <add name="localhost_SIRMA_CARPET_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=ARZU\SQLEXPRESS;integrated security=SSPI;initial catalog=SIRMA_CARPET" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
